@import "tailwindcss";

/* /* body{
  background-color: #0d0d0d;
  color: white;
} */

/* :root { */
  /* Colors */
  /* --primary-pink: #e52f72;
  --bg-color: #0d0d0d;
  --bg-secondary-light: #ffffff;
  --bg-forground-color: #141c21; */
  
  /* Text Colors */
  /* --text-white: #ffffff;
  --text-black: #000000;
  --text-forground-color: rgb(194, 194, 194);
} */

@theme {
  --color-primary-pink: #e52f72;
  --color-bg-dark: #0d0d0d;
  --color-bg-secondary-light: #ffffff;
  --color-bg-foreground: #141c21;
  --color-text-foreground: rgb(194, 194, 194);
  --bg-surface-color: #141c21;

  /* Text Colors */
   --text-white: #ffffff;
  --text-black: #000000;
}

body {
  background-color: var(--color-bg-dark);
  color: white;
}

@layer components {
  .glass {
    background: rgba(20, 28, 33, 0.6);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}